
  
.modal-background {
    width:100%; 
   height:100vh;
   overflow-y: hidden;
    position:absolute; 
    left:0; 
    top:0; 
    background:rgba(112,112,112, .8);
    z-index:10;
}
.modal-box {
    width:600px; 
    height:fit-content;
    background:white; 
    border-radius:10px; 
    position:absolute;  
    z-index:100; 
    left:50%;
    top:50%; 
    margin:-150px -300px;
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    text-align:center;
    font-size:20px;
}
.modal-message {
    text-align: center;
    
   
}
button.end{
    background:rgb(92, 92, 223);
    cursor: pointer;
    border: 1px solid black;
}
.end{
    text-align:center;
    font-size:22px;
    

    color:white;

}
.correct {
    color:green;
    margin-bottom:60px;
    margin-top:25px;
}
.incorrect {
    color:red;
    margin-bottom:40px;  
    margin-top:25px
}
.next{
    color: #2b2a38;
    background: #1dd4cb;
    font-size: 22px;
    border-color: steelblue;
    cursor: pointer;
    margin:30px auto;
    
 
    
}
@media (max-width:600px) {
    .modal-box {
        width:100%;
        top:15%;
        left:0;
        margin:0;
    }
}

